<div class="row">
    <div class="col-md-12 order-md-1">
        <h4 class="mb-3">Annotations</h4>
        <form class="needs-validation" [formGroup]="form" (ngSubmit)="saveAnnotation()" novalidate>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label>Text</label>
                    <input type="text" class="form-control" formControlName="text" required [(ngModel)]="annotation.text">
                    <small *ngIf="this.form.get('text')?.hasError('required') && this.clickSubmit" class="text-danger d-block mt-2">is required!</small>                
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <button class="btn btn-primary float-right" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>