<div class="row">
    <div class="col-lg-12">
        <h4>Annotations</h4>
        <a routerLink="/annotation" class="btn btn-primary float-right">New</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Text</th>
                    <th width="50px"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let annotation of annotations" >
                    <td><a routerLink="/annotation/{{annotation.id}}">{{annotation.text}}</a></td>
                    <td><a href="/Annotations/Delete/@annotation.Id" onclick="return confirm('Deseja excluir?')">Excluir</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>