<div class="row">
    <div class="col-lg-12">
        <h4>Categories</h4>
        <a routerLink="/category" class="btn btn-primary float-right">New</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th width="50px"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories" >
                    <td><a routerLink="/category/{{category.id}}">{{category.name}}</a></td>
                    <td><a href="/Categories/Delete/@category.Id" onclick="return confirm('Deseja excluir?')">Excluir</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>