<div class="row">
    <div class="col-lg-12">
        <h4>Words</h4>
        <a routerLink="/word" class="btn btn-primary float-right">New</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mb-3">
        <label>Category</label>
        <select class="form-control" id="categoryid">
            <option value=""></option>
            <!--@if(ViewBag.Categories != null)
            {
                foreach(var category in ViewBag.Categories)
                {
                    if(ViewBag.Categoryid == category.Id)
                    {
                        <option value="@category.Id" selected>@category.Name</option>
                    }
                    else
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                }
            }-->
        </select>
    </div>
</div>                     
<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Translation</th>
                    <th scope="col">Observation</th>
                    <th width="50px"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let word of words" >
                    <td><a routerLink="/word/{{word.id}}">{{word.name}}</a></td>
                    <td>{{word.translation}}</td>
                    <td>{{word.observation}}</td>
                    <td><a href="/Words/Delete/@word.Id" onclick="return confirm('Deseja excluir?')">Excluir</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--@section Scripts {
<script>
    $('#categoryid').on('change', function() {
        window.location.href = "/words/index?categoryid="+this.value;
    });
</script>
}-->