<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" routerLink="/annotations">RPEnglish</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>-->
            <li class="nav-item">
                <a class="nav-link" routerLink="/annotations">Annotations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/categories">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/words">Words</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            <a class="btn btn-outline-light my-2 my-sm-0" [routerLink]="" (click)="logout()">Logout of {{this.currentUser.name}}</a>
        </form>
    </div>
</nav>

<main role="main" class="container">
    <!--@if (string.IsNullOrEmpty(ViewBag.ApplicationMessage) == false)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.ApplicationMessage
        </div>
    }-->
    <app-content></app-content>
    <!--<div class="jumbotron">
    <h1>Navbar example</h1>
    <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
    <a class="btn btn-lg btn-primary" href="https://getbootstrap.com/docs/4.0/components/navbar/" role="button">View navbar docs »</a>
</div>-->
</main>